# Database
DB_USER=example
DB_PASSWORD=example
DB_NAME=example
DB_HOST=127.0.0.1
DB_PORT=5432
DB_ENGINE=django.db.backends.postgresql

# Debug
DEBUG=True
DEBUG_EMAIL=False

# Allowed hosts. Use commas to define multiple hosts
ALLOWED_HOSTS="127.0.0.1"

# Email
EMAIL_HOST="smtp.gmail.com"
EMAIL_USER = "example@gmail.com"
EMAIL_PASSWORD = "example"
