# Database
DB_USER=
DB_PASSWORD=
DB_NAME=project.db
DB_HOST=
DB_PORT=
DB_ENGINE=django.db.backends.sqlite3
#DB_ENGINE=django.db.backends.postgresql
#DB_ENGINE=django.db.backends.mysql

# Debug
DEBUG=True
DEBUG_EMAIL=False

# Allowed hosts. Use commas to define multiple hosts
ALLOWED_HOSTS="127.0.0.1, localhost"

# Email
EMAIL_HOST="smtp.gmail.com"
EMAIL_USER = "example@gmail.com"
EMAIL_PASSWORD = "example"
