<div class="row">
    <div class="col">
        <div class="text-right">
            <a href="{% url 'home' %}"
               class="btn btn-primary"
               title="Inicio"
               type="button"
               id="home-button">
                <i class="fas fa-home"></i>
            </a>

            {% if user.is_authenticated %}
                {% if user.is_staff %}
                    <a href="{% url 'admin:index' %}"
                       class="btn btn-secondary"
                       title="Interfaz Administrativa"
                       type="button"
                       id="session-admin-button">
                        <i class="fas fa-cogs"></i>
                    </a>
                {% endif %}

                <a href="{% url 'users:profile' %}"
                   class="btn btn-info"
                   title="Datos de perfil"
                   type="button"
                   id="session-profile-button">
                    <i class="fas fa-user"></i>
                </a>

                <a href="{% url 'account_change_password' %}"
                   class="btn btn-warning"
                   title="Cambiar contraseña"
                   type="button"
                   id="session-password-button">
                    <i class="fas fa-unlock-alt"></i>
                </a>
            {% endif %}

            <a href="{% if user.is_authenticated %}{% url 'account_logout' %}{% else %}{% url 'account_login' %}{% endif %}"
               class="btn {% if user.is_authenticated %}btn-danger{% else %}btn-success{% endif %}"
               title="{% if user.is_authenticated %}Cerrar sesión{% else %}Iniciar sesión{% endif %}"
               type="button"
               id="session-button">
                {% if user.is_authenticated %}
                    <i class="fas fa-sign-out-alt"></i>
                {% else %}
                    <i class="fas fa-user"></i>
                {% endif %}
            </a>
        </div>
    </div>
</div>
